@import "tailwindcss";

body {
  background-color: #fafaf9; /* stone-50 - Putih hangat dengan sentuhan kayu/batu */
  color: #292524; /* stone-800 - Coklat sangat gelap untuk teks */
  scroll-behavior: smooth;
}

::selection {
  background-color: #10b981; /* Hijau Emerald */
  color: white;
}

/* Scrollbar bernuansa alam */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f4;
}
::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}